#consid {
	h3 {
		margin-top: 40px;
	}
	.row {
		margin-bottom: 30px;
	}

	h3 {
	 @include large-text;
	}

	h4 {
		font-family: 'Lato';
		margin-bottom: 20px;
	}

	p {
		font-family: 'Lato';
		padding: 0 20px;
		line-height: 230%;
	}
}