
#considerationCards {
	margin-left: 120px;

	.considHeight {
		min-height: 500px;
	}

	.card {
		max-width: 350px;
		border: 1px solid #C8C8C8;
		margin: 10px;

		h5 {
			margin-bottom: 5px;
		}

		a {
			display: block;
			text-decoration: none;
			color: black;
			padding: 5px 0 5px 0;
			font-family: 'Lato';
			font-size: 14px;
			line-height: 200%;
		}

		&:hover {
			&.card {
				border: 1px solid orange;
				transition-delay: .1s;
				transition-duration: .5s;
			}
		}

	}

}
