#header {
	padding-bottom: 20px;
	width: 100%;
	height: 70px;
	padding: 10px;

	.logo {
		img {
			height: auto;
			width: 300px;
		}
	}
	.navigation {
		.list-unstyled {
			max-width: 410px;

			li {
				display: inline;
				font-family: 'Lato' no-serif;
				font-weight: bold;
			}
		}
	}
}