
<div class="modal-header">
  <h3>Contribute to the key considerations</h3>
</div>
<div class="modal-body">
  <form class="form-group">
    <label>Anonymous Username</label>
    <input type="un" placeholder="A Faceless Man" ng-model="formData.user" class="form-control"/>
  </form>
  <form class="form-group">
    <label>What makes you so qualified </label>
    <input type="un" placeholder="Worked in tech start-ups" ng-model="formData.job" class="form-control"/>
  </form>
  <form class="form-group">
    <label>Brief description of key consideration</label>
    <input type="un" placeholder="How do we attract private investor groups?" ng-model="formData.description" class="form-control"/>
  </form>
</div>
<div class="modal-footer">
  <button type="button" ng-click="ok()" class="btn btn-default">Submit</button>
  <button type="button" ng-click="cancel()" class="btn btn-default">Cancel</button>
</div>