
<div id="considerationCards">
  <div opt-kind="opt-kind" ok-key="filter" class="btn-group">
    <button type="button" ok-sel="*" ng-click="considCtrl.changeState()" ng-if="$root.params" class="btn btn-default active">Show All</button>
    <button type="button" ok-sel=".date" class="btn btn-default btn-default">Most Recent</button>
    <button type="button" ok-sel=".popular" class="btn btn-default btn-default">Loudest Conversations</button>
  </div>
  <button type="button" ng-click="main.addConsideration()" ng-if="!$root.params" class="btn btn-primary">+ Add</button>
  <button type="button" ng-click="main.addComment()" ng-if="$root.params" class="btn btn-primary">+ Add</button>
  <div isotope-container="isotope-container" ng-cloak="" id="isotopeContainer" class="list-unstyled center-block considHeight">
    <div ng-repeat="($id, questions) in consid" opt-kind="" ok-key="filter" isotope-item="" ui-sref="start.dash.consid({id: $id})" class="card card-block {{$id}}">
      <h5 class="card-title">{{questions.job}}</h5><small class="text-muted">{{questions.user}}</small><a ui-sref="start.dash.consid({id: $id})" ok-sel=".{{$id}}" class="card-text">{{questions.description}}</a>
    </div>
  </div>
</div>