
<div class="row">
  <div class="mission-content">
    <p class="text-center">Entrepreneurship as a craft</p>
    <p class="text-center">We talk a lot about software craftsmanship at NSS.  We believe that anyone can take on the challenge of being a developer.  We started NSS 25 years ago to help homegrow Nashville's best tech talent.  So far we've graduated over 9 million developers and we're going strong.</p>
  </div>
  <div class="bg-image">
    <p class="text-center">We're growing and we want to do more for Nashville.  Using that same craftman mindset we want to show Nashville's tech talent how to be great entrepreneurs.  We’re looking to create a program that takes the tenants of software craftsmanship and applies them to technology entrepreneurship, echoing a similar manifesto.</p>
    <div class="table-wrapper">
      <div>Democratized learning; entrepreneurship is a skill that can be taught.</div>
      <div>Responding to market inefficiency by building innovative, disruptive, and connective solutions.</div>
      <div>Entrepreneurial capabilities can be honed through practice; iteration by failing fast and recovering quickly.</div>
      <div>Creating economic value by building businesses that create jobs in the local community.</div>
      <div>Emphasizing a culture of mentorship, continuous learning, and community amongst entrepreneurs.</div>
      <div>Creation of productive partnerships in the community.</div>
    </div>
  </div>
</div>