
<div class="row">
  <h3 class="text-center">The Program (an early vision)</h3>
</div>
<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="typcn typcn-device-laptop text-center"></div>
    <h4 class="text-center">Program Focus</h4>
    <p>The program would focus broadly on technology with students pursuing application dev, game dev, e-commerce, and freelance ventures, amongst others.  <br> Greenhorn developers would be paired with a mentor CTO to create production ready code and scalable infrastructure.</p>
    <div class="content-end"></div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="typcn typcn-world text-center"></div>
    <h4 class="text-center">Engaging the Community</h4>
    <p>We want to create a community of local business owners to engage our budding entrepreneurs to test and validate ideas in a real market, build innovative and connective technology for local industries, and create physical products using local makers and manufacturers. </p>
    <div class="content-end"></div>
  </div>
</div>
<div class="row"> 
  <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="typcn typcn-group text-center"></div>
    <h4 class="text-center">Mentorship</h4>
    <p>Entrepreneurs in resident would go from idea to revenue-dollar-one, working in and out of the classroom through an intensive curriculum guided by a network of Nashville's brightest professional talent.  </p>
    <div class="content-end"></div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="typcn typcn-chart-area-outline text-center"></div>
    <h4 class="text-center">Model</h4>
    <p>We’re envisioning a model that would take no equity and / or a nominal tuition fee, or an equity model that contributes profits back into the program. The mission of the program would be to create a self-sustaining / self-perpetuating model.</p>
    <div class="content-end"></div>
  </div>
</div>