#considerationConvo
	div(isotope-container="isotope-container").list-unstyled.center-block
		.card.card-block(type="submit" ng-repeat="($id, comments) in main.comments"  class="{{$id}}" isotope-item="isotope-item")
			h5.card-title {{comments.title}}
			small.text-muted {{comments.summary}}
			p.card-text {{comments.content}}