#considerationCards.center-block
	div(isotope-container="isotope-container").list-unstyled.center-block
		.card.card-block(ng-repeat="($id, questions) in consid" isotope-item="isotope-item")
			h5.card-title {{questions.job}}
			small.text-muted {{questions.user}}
			p.card-text {{questions.description}}



