//- div(masonry)
//- 	.masonry-brick(masonry-brick ng-repeat="($id, questions) in consid" ng-class="{'masonry-brick': true}")
//- 		{{questions.user}}
//- 		{{questions.jobs}}
//- 		{{questions.description}}
ul(isotope-container="isotope-container")
	li(ng-repeat="($id, questions) in consid" isotope-item="isotope-item")
		p {{questions.user}}
		p {{questions.jobs}}
		p {{questions.description}}