div.row
	.logo.col-lg-4.col-md-4.col-sm-4.col-xs-4
		img(src="images/NSS-logo-horizontal-small.jpg")
	.navigation
		.list-unstyled.col-lg-4.col-md-4.col-sm-6.col-xs-6.pull-right
			li Mission
			li |
			li Program
			li |
			li Compensation
			li |
			li Considerations