div.row
	h3.text-center The Program (an early vision)
.row
	.col-lg-6.col-md-6.col-sm-6
		.typcn.typcn-device-laptop.text-center
		h4.text-center Program Focus
		p The program would focus broadly on technology with students pursuing application dev, game dev, e-commerce, and freelance ventures, amongst others.  <br> Greenhorn developers would be paired with a mentor CTO to create production ready code and scalable infrastructure.
		.content-end
	.col-lg-6.col-md-6.col-sm-6
		.typcn.typcn-world.text-center
		h4.text-center Engaging the Community
		p We want to create a community of local business owners to engage our budding entrepreneurs to test and validate ideas in a real market, build innovative and connective technology for local industries, and create physical products using local makers and manufacturers. 
		.content-end
.row 
	.col-lg-6.col-md-6.col-sm-6
		.typcn.typcn-group.text-center
		h4.text-center Mentorship
		p Entrepreneurs in resident would go from idea to revenue-dollar-one, working in and out of the classroom through an intensive curriculum guided by a network of Nashville's brightest professional talent.  
		.content-end
	.col-lg-6.col-md-6.col-sm-6
		.typcn.typcn-chart-area-outline.text-center
		h4.text-center Model
		p We’re envisioning a model that would take no equity and / or a nominal tuition fee, or an equity model that contributes profits back into the program. The mission of the program would be to create a self-sustaining / self-perpetuating model.
		.content-end